body{
    background-color: rgb(190, 190, 190);
    font-size: 14px;
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight:bold;
    font-style: normal;
}
#header , #navbar {
    background-color: #8681b9;
    margin: 10px;
    border-radius: 5px;
    padding: 5px;
   }
#header {
    height: 80px;
}

#navbar {
    height: 30px;
}
.main{
    background-color: aquamarine;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    font-size: 110%;
}